<div class="mt-5">
	<h1 style="color: lightcoral">Crear Hospital</h1>

	<form method="post">
		<label>Id Hopsital:</label>
		<input type="text" name="idhospital" class="form-control"/>
		<label>Nombre:</label>
		<input type="text" name="nombre" class="form-control" />
		<label>Direcion</label>
		<input type="text" name="direccion" class="form-control" />
		<label>Teléfono</label>
		<input type="text" name="telefono" class="form-control" />
		<label>Camas</label>
		<input type="text" name="camas" class="form-control" />
		<button class="btn btn-info">Create</button>
	</form>

	<h2 style="color:red">@ViewData["MENSAJE"]</h2>
</div>