@model Hospital

<h1>Details</h1>

<a asp-controller="Hospitales" asp-action="Index">Back to List</a>
<ul class="list-group">
	<li class="list-group-item">Id: @Model.IdHospital</li>
	<li class="list-group-item">Nombre: @Model.Nombre</li>
	<li class="list-group-item">Direccion: @Model.Direccion</li>
	<li class="list-group-item">Camas: @Model.Camas</li>
</ul>